// Reset & Mixins ———————————————————————————— •
// ——————————————————————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins',
  'normalize.css',
  'bootstrap.css';


// Base Styles ——————————————————————————————— •
// ——————————————————————————————————————————— •

$blue: #8dc9d4;
$orange: rgb(229,74,26);
$red: rgb(177,56,46);
$green: rgb(117,133,89);
$dark: rgb(11,11,16);

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

html, body, * {
  position: relative;
}

body {
  background: $dark;
  color: #bbb;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  line-height: 1.375;
  background: #fff;
}

h1, h2, h3, h4 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

section {
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #222;
  &:first-child {
    padding-top: 0;
  }
}

article {
  padding-top: 2em;
  padding-bottom: 2em;
  p {
    margin-top: 2em;
  }
}

.tagline {
  background: $dark;
  padding-top: 1em;
  h3 {
    text-align: center;
    color: #eee;
    letter-spacing: 0.05em;
  }
  section {
    background: $dark;
  }
}

section {
  text-align: center;

  p {
    text-align: left;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.618em;
    letter-spacing: 0.05em;
    line-height: 1.5;
    color: $green;
    border-bottom: 1px solid $green;
    display: inline-block;
    margin-bottom: 2em;
    &:not(:first-child) {
      margin-top: 2.5em;
    }
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: $red;
  line-height: 1.5;
}

a:hover,
a:active {
  color: darken($red, 10);
  text-decoration: none;
  border-bottom: 1px solid darken($red, 10);
}

ul {
  text-align: left;
}

small {
  font-size: 0.75em;
}

.center {
  text-align: center;
}

.absolute-center {
  margin: auto;
}

.logo-container {
  max-width: 600px;
  margin: 0 auto;
}

.logo-link {
  z-index: 3;
  font-size: 0.875em;
  display: block;
  margin-top: 1.928306551em;
  &:hover {
    border: 0;
  }
  .logo {
    background: url('../images/arrrrcamp_logo.png') center center no-repeat;
    background-size: cover;
    width: 7.03125em;
    height: 3.12em;
  }
}

nav {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 1.928306551em;
  padding-right: 1.928306551em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  ul {
    li {
      display: inline-block;
      float: left;
      padding: 0.3em 0.8em 0.13em;
      &.active {
        background: rgba(255,255,255,0.2);
        border-radius: 3px;
      }

      a {
        &:link,
        &:visited {
          color: #fff;
        }

        &:hover,
        &:active {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

header {
  min-width: 100%;
  min-height: 80%;
  margin: 0;
  .hero-container {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(11,11,16,0.3) 50%, rgba(11,11,16,1) 100%),
                url('../images/handelsbeurs_568.jpg');
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }
  .hero-content {
    padding: 0 3em;
    top: 50%;
    position: absolute;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    text-align: center;
    width: 100%;
    z-index: 3;

    h1 {
      margin-top: 3em;
      text-transform: uppercase;
      font-size: 2.75em;
      color: #fff;
      text-shadow: 2px 2px rgba(0,0,0,0.4);
      letter-spacing: 0.05em;
    }

    span.date {
      font-family: "PT Sans", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 0.8em;
      color: #fff;
      text-shadow: 2px 2px rgba(0,0,0,0.4);
    }

    p {
      margin: 2em 0;
      font-size: 1.2em;
      color: #ccc;
      text-shadow: 2px 2px rgba(0,0,0,0.4);
    }

    .btn {
      border: 2px solid #fff;
      color: #fff;
      &:hover {
        color: #333;
        background: #fff;
      }
    }
  }
}

.tickets {
  .col-sm-4 {
    min-height: 10em;
  }
  h3 {
    text-align: center;
    &.sold-out {
      &:after {
        content: 'Sold out';
        display: block;
        position: absolute;
        color: $red;
        text-transform: uppercase;
        border: 6px solid $red;
        border-radius: 5px;
        font-size: 1.4em;
        font-weight: 800;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background: rgba(255,255,255,0.0);
        z-index: 99;
        margin: 0 auto;
        // width: 100%;
        width: 7em;
        left: 50%;
        margin-left: -3.5em;
        text-align: center;
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
      }
    }
  }
}

.tagline .btn {
  border: 2px solid $red;
  color: #fff;
  background: $red;
  &:hover {
    border: 2px solid $red;
    color: $red;
    background: none;
  }
}

.btn {
  display: inline-block;
  padding: 0.8em 2em;
  border: 1px solid $red;
  color: $red;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 2em auto;
  &:hover,
  &:active {
    background: $red;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.5s;
  }
}

input[type=submit] {
  background: transparent;
  padding: 0.5em 1.2em;
  margin: 1em 0;
  display: block;
}

input[type=text],
input[type=email] {
  background: #eee;
  border: 1px solid $green;
  border-radius: 3px;
  width: 100%;
  padding: 0.3em 0.9em;
}

footer {
  section {
    border-bottom: none;
    &:first-child {
      padding-top: 3em;
    }

    h3 {
      color: $green;
      font-size: 1.2em;
      line-height: 1.8;
      border-bottom: 1px solid $green;
      letter-spacing: 0.05em;
    }
  }
}

blockquote {
  text-align: left;
  border: 0;
  padding-left: 100px;

  img {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -37.5px;
    border-radius: 75px;
  }
}

.sponsors {
  text-align: center;
  padding: 1em 0;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .sponsor {
    display: inline-block;
    margin: 2em;
    a {
      max-width: 100%;
      &:hover,
      &:active {
        border-bottom: none;
      }
      img {
        max-width: 100%;
        vertical-align: center;
      }
    }
  }
}

.speakers-brief {
  text-align: center;
  &:after {
    display: table;
    content: ' ';
    clear: both;
  }

  .speaker {
    width: 14em;
    height: 21em;
    display: inline-block;
    vertical-align: top;
    h3 {

    }
    h4 a {
      color: $dark;
      &:hover,
      &:active {
        border-bottom: 1px solid $dark;
      }
    }
    .avatar {
      &:hover,
      &:active {
        border: 0;
      }
      width: 150px;
      display: inline-block;
      img {
        max-width: 100%;
      }
    }
  }
}

body.speakers {
  h2 {
    margin-bottom: 1em;
  }
  h3 {
    margin-top: 0;
  }
  .speaker {
    text-align: left;
    img {
      float: left;
      padding-right: 1em;
      padding-bottom: 1em;
      width: 150px;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Styles for mobile */

}

// @media only screen and (min-device-width : 750px) {

@media only screen and (min-width : 569x) {
  header {
    .hero-container {
      background: linear-gradient(rgba(11,11,16,0.3) 50%, rgba(11,11,16,1) 100%),
                  url('../images/handelsbeurs_1024.jpg');
      background-position: top left, center center;
      background-repeat: repeat, no-repeat;
      background-size: auto, cover;
    }
  }
}

@media only screen and (min-width : 1025px) {
  header {
    .hero-container {
      background: linear-gradient(rgba(11,11,16,0.3) 50%, rgba(11,11,16,1) 100%),
                  url('../images/handelsbeurs_1680.jpg');
      background-position: top left, center center;
      background-repeat: repeat, no-repeat;
      background-size: auto, cover;
    }
  }
}

@media only screen and (min-width : 1681px) {
  header {
    .hero-container {
      background: linear-gradient(rgba(11,11,16,0.3) 50%, rgba(11,11,16,1) 100%),
                  url('../images/handelsbeurs_2560.jpg');
      background-position: top left, center center;
      background-repeat: repeat, no-repeat;
      background-size: auto, cover;
    }
  }
}

@media only screen and (min-width : 750px) {

  body {
    font-size: 1.125em;
  }

  article p {
    text-align: left;
  }

  header {
    font-size: 1.25em;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */

  body {
  }

}

