<header>
  <div class="hero-container"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <a class="logo-link" href="/"><div class="logo"></div></a>
        {% include navigation.html %}
      </div>
    </div>
  </div>
  <div class="hero-content">
    <h1>{{ page.herotitle }}</h1>
    {% if page.herotagline %}
      <span class="date">{{ page.herotagline }}</span>
    {% endif %}
  </div>
</header>

<div class="tagline">
  <div class="container">
    <section class="row">
      <article class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>
          {% if page.tagline %}
            {{ page.tagline }}
          {% else %}
            ArrrrCamp is a conference for the modern developer interested in Ruby, Rails or the industry in general. Our event will inspire you, help you learn new things, meet new people and hang out with old friends.
          {% endif %}
        </h3>
      </article>
    </section>
  </div>
</div>

