<nav>
  <ul>
    <!-- <li class="{% if page.class == 'speakers' %}active{% endif %}"><a href="/speakers">Speakers</a></li> -->
    <!-- <li class="{% if page.class == 'schedule' %}active{% endif %}"><a href="/schedule">Schedule</a></li> -->
    <li class="{% if page.class == 'practical' %}active{% endif %}"><a
      href="/practical/">Practical</a></li>
    <!-- <li><a href="https://ti.to/arrrrcamp/2014">Tickets</a></li> -->
    <li class="{% if page.class == 'videos' %}active{% endif %}"><a
      href="/videos/">Videos</a></li>
    <li class="{% if page.class == 'blog' %}active{% endif %}"><a href="/blog/">Blog</a></li>
  </ul>
</nav>
